<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>
        This page belongs to @<%= username %>
    </h1>
    <button class="btn">Follow</button>
    <button class="btn">Message</button>
    <p class="para">
        Followers: <%= data.followers %> &nbsp;&nbsp;
        Following: <%= data.following %>
    </p>
    <hr>
    <% for(let pic of data.posts){ %>
        <img src=" <%= pic.image%>" alt="" class="img">
        <p>Likes: <%= pic.likes%>&nbsp;&nbsp;&nbsp; Comments: <%= pic.comments%></p>
    <%} %>
    <%- include("includes/footer.ejs") %>
       
    <script src="/app.js"></script>
</body>
</html>